<div class="scrollable" style="overflow-x: scroll;  width:100%" >
<table id ="form" align="center" cellspacing="3" cellpadding="5" style="width:100%">
  <thead>
  <tr>
    <th colspan="4">Angefragter Termin</th>
    <th rowspan="2">Eingangs-<br>datum</th>
    <th colspan="2">Kontaktperson</th>
    <th rowspan="2">Schule/<br>Institution</th>
    <th rowspan="2">TN</th>
    <th rowspan="2">Re.<br/>Nr.</th>
    <th rowspan="2">Re.<br/>bez.</th>
    <th rowspan="2" style="color:#d9d5d5;"></th>   
  </tr>
  <tr>
    <th>Datum</th>
    <th>Tag</th>
    <th>Von</th>
    <th>Bis</th>
    <th>Name</th>
    <th>Handynummer</th>
 </tr>
</thead>
<tbody id="myTableBody">
<% for workshop in @workdenied%>
  <tr>
       <td><%=h change_date(workshop.date1)%></td>
       <td><%=h get_day(workshop.date1) %></td>
       <td><%=h change_time(workshop.from1) %></td>
       <td><%=h change_time(workshop.to1) %></td>   
       <td><%=h change_date(workshop.created_at) %></td>
       <td><%=h workshop.gender %> <%=h workshop.lastname %></td>
       <td><%=h workshop.cellphone %></td>
       <td><%=h workshop.schoolname %></td>
       <td><%=h workshop.participnumber %></td>
       <td><%=h workshop.invoice_number %></td>
       <td><%=h workshop.paid %></td>
       <td></td>
  </tr>
<% end %>
</tbody>
</table>
<script type="text/javascript">
var tbody=document.getElementById('myTableBody');
if(tbody.scrollHeight<=300) tbody.style.height="auto";
</script>
</div>
