<div class="scrollable" style="overflow-x: scroll;  width:100%" >
  <table id ="form" align="center" cellspacing="3" cellpadding="5" style="width:100%">
    <thead>
      <tr>
        <th colspan="3">Best&auml;tigter Termin</th>
        <th rowspan="2">Kontakt</th>
        <th rowspan="2">Schule/<br>Institution</th>
        <th rowspan="2">Ort</th>
        <th rowspan="2">TN</th>
        <th rowspan="2">Gr.</th>
        <th rowspan="2">Referent</th>    
        <th rowspan="2">Verpflegung</th>
        <th rowspan="2">Kommentare</th>
        <th rowspan="2">Re.<br/>gest.</th>
        <th rowspan="2">Re.<br/>Nr.</th>
        <th rowspan="2">Re.<br/>bez.</th>
        <% if admin? %>
          <th colspan="2" rowspan="2">Optionen</th>
        <% else %>
          <th rowspan="2">Optionen</th>
        <% end %>
        <th rowspan="2">PDF</th>
        <th rowspan="2" style="color:#d9d5d5;">d</th>
      </tr>
      <tr>
        <th>Datum</th>
        <th>Von</th>
        <th>Bis</th>     
      </tr>
    </thead>
    <tbody id="myTableBody">
      <% @tsbest.each do |ts| %>
        <% if (ts.thedate.strftime("%d.%m.%Y") == '01.05.2016') %>
          <tr class="show_70_years">
        <% else %><tr><% end %>
          <td align="center"><%=h change_date(ts.thedate) %><br/><%=h get_german_day(ts.thedate) %></td>
          <td align="center"><%=h change_time(ts.thefrom) %></td>
          <td align="center"><%=h change_time(ts.theto) %></td>
          <td align="center"><%=h ts.gender %><br/><%=h ts.lastname %></td>
          <td align="center"><%=h ts.schoolname %></td>
          <td align="center"><%=h ts.city %></td>
          <td align="center"><%=h ts.participnumber %></td>
          <td align="center">
          <% if ts.groupnumber > ts.referents.count %>
            <b style="color:red"><%=h ts.groupnumber %></b><br/>
          <%else%>
            <b style="color:blue"><%=h ts.groupnumber %></b>
          <% end %> 
          </td>
          <td >
          <% if ts.groupnumber > ts.referents.count %>
            <b style="color:red"> Referenten fehlen!</b><br/>
            <% ts.referents.each do |ref| %><%= ref.lastname %>, <%= ref.firstname %><br/><% end %> 
          <%else%>
            <% ts.referents.each do |r| %><%= r.lastname %>, <%= r.firstname %><br/><% end %> 
          <%end%>
          </td>
          <td align="center"><% if ts.food=="ja" %> ja <%else %> nein <% end %></td>
          <td><%= change_umlaut(ts.comments)%></td>       
          <td align="center"><%=h ts.bill_sent %></td>
          <td align="center"><%=h ts.invoice_number %></td>
          <td align="center"><%=h ts.paid %>
            <% if (ts.paid != "nein" && ts.paid != "kostenfrei") %><br/> HÜL <%=h ts.hl_number %><% end %>
          </td>              
          <td align="center"><%= link_to '<img src="/images/edit.png" width="20" title="Details anschauen \\ ändern">', edit_ts_request_path(ts) %></td>
          <% if admin? %>
            <td align="center"><%= link_to '<img src="/images/delete.png" width="20" title="Löschen">', ts, :confirm => 'Wollen sie wirklich diese Anmeldung l&ouml;schen?', :method => :delete %></td>
          <% end %>
          <td align="center"><%= link_to '<img src="/images/PDF_File.jpg" width="20">', :controller => 'ts_requests', :action => 'ts_pdf', :id => ts.id %> </td>
          <td></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <script type="text/javascript">
    var tbody=document.getElementById('myTableBody');
    if(tbody.scrollHeight<=350) tbody.style.height="auto";
  </script>
</div>