<%= render :partial => "shared/bill/head", :locals => {:event => @htseminar } %>

<p><big><b>Fattura n.: <%= @htseminar.invoice_number %></b></big></p>

<p>Con la presente confermiamo la prenotazione il seminario di mezza giornata e presentiamo la relativa fattura:</p>

<table border="1">
  <tr>
    <th>Data</th>
    <th>Numero di gruppi</th>
    <th>Importo per ciascun gruppo</th>
    <th>Importo complessivo</th>   
  </tr>
  <tr>
    <td><%= change_date(@htseminar.thedate) %>, ore <%= change_time(@htseminar.thefrom) %></td>
    <td><%= @htseminar.groupnumber %></td> 
    <td><%= number_to_euro(@htseminar.current_fee) %> &euro;</td>
    <td><%= number_to_euro(@htseminar.groupnumber * @htseminar.current_fee) %> &euro;</td>    
  </tr>
</table>
<br>
<p>L&#39;importo complessivo &egrave; da versare entro 14 giorni dopo la data in cui viene effettuata la visita guidata,  specificando nella causale il numero della fattura e la data della visita guidata, sul seguente conto:</p>
<table>
  <tr><td>Intestatario del conto: </td><td>KZ-Gedenkst&auml;tte Dachau</td></tr>
  <tr><td>Banca: </td><td>HypoVereinsbank M&uuml;nchen</td></tr>
  <tr><td>Codice Banca: </td><td>700 202 70</td></tr>
  <tr><td>Conto corrente n.:</td><td>15101860</td></tr>
  <tr><td>IBAN: </td><td>DE71700202700015101860</td><tr>
  <tr><td>BIC: </td><td>HYVEDEMMXXX</td></tr>
</table>

<br>
<p><small><i>In quanto fondazione di diritto pubblico il memoriale &egrave; esente da tassazione sulle entrate.</i></small></p>

<%= render :partial => "shared/bill/foot" %>