<% if admin? or dbuser? or accounter?%>
<%= calendar_date_select_includes :style=>"default",:locale=>"de"%> 

<head> <title>HT-Seminar erstellen</title></head>
<h1>Ein neues Halbtagesseminar erstellen </h1><hr/><br/>

<% form_for(@htseminar) do |f| %>
  
   <div class="xujError"><%= f.error_message_on :gender, "Wählen Sie bitte die Anrede aus." %></div>
   <div class="xujError"><%= f.error_message_on :firstname, "Geben Sie bitte den Vornamen ein." %></div>
   <div class="xujError"><%= f.error_message_on :lastname, "Geben Sie bitte den Namen ein." %></div>
   <div class="xujError"><%= f.error_message_on :email, "Geben Sie bitte eine g&uuml;ltige E-Mail-Adresse ein." %></div>
   <div class="xujError"><%= f.error_message_on :schoolname, "Geben Sie bitte den Namen der Schule/Institution ein." %></div>
   <div class="xujError"><%= f.error_message_on :street, "Geben Sie bitte die Adresse der Schule/Institution ein." %></div>
   <div class="xujError"><%= f.error_message_on :city, "Geben Sie bitte den Ort der Schule/Institution ein." %></div>
   <div class="xujError"><%= f.error_message_on :zip, "Geben Sie bitte eine Postleitzahl ein." %></div>
   <div class="xujError"><%= f.error_message_on :country, "Geben Sie bitte das Land der Schule/Institution ein." %></div>
   <div class="xujError"><%= f.error_message_on :date1,"1.Termin darf nicht fehlen." %></div>
   <div class="xujError"><%= f.error_message_on :from1, "Die erste Uhrzeit des 1.Termins darf nicht fehlen." %></div> 
   <div class="xujError"><%= f.error_message_on :to1, "Die zweite Uhrzeit des 1.Termins darf nicht fehlen." %></div> 
   <div class="xujError"><%= f.error_message_on :participnumber, "Geben Sie bitte die Anzahl der Teilnehmer ein." %></div>   
   <div class="xujError"><%= f.error_message_on :foodnumber, "Bitte die Personenzahl, f&uuml;r die das Mittagsessen organisiert werden soll, angeben!" %></div>
   <div class="xujError"><%= f.error_message_on :schoolgrade, "Geben Sie bitte die Schulstufe ein."%></div>
   <div class="xujError"><%= f.error_message_on :age, "Geben Sie bitte Alter der Teilnehmer ein."%></div>
   <div class="xujError"><%= f.error_message_on :cellphone, "Geben Sie bitte Handynummer der Begleitperson ein."%></div>
<h2>Ansprechperson</h2>
<table>
  <tr> 
    <td><%=f.label :gender, "* Anrede:&nbsp;&nbsp;&nbsp;&nbsp;" %></td>
  </tr>
  <tr>
    <td><%= f.radio_button :gender, "Herr" %>&nbsp;Herr&nbsp;&nbsp;&nbsp;&nbsp;</td>
    <td><%= f.radio_button :gender, "Frau" %>&nbsp;Frau</td>
  </tr>
</table>
<table>
   <tr>
     <td align ="left" ><%=f.label :firstname, "* Vorname: " %></td>
     <td align ="left"><%=f.label :lastname, "* Name: " %></td>
   </tr>   
   <tr>
     <td><%= f.text_field :firstname, :size => 30,:maxlength => 255,
        :oninput => "CheckNames($F(this),'htseminar_firstname','Der Vorname darf nur Groß- und Kleinbuchstaben, \\' ,\\n Binde- und Trennstriche (-) und Leerzeichen enthalten.' )" %></td>
     <td><%= f.text_field :lastname,:size => 30, :maxlength => 255,
        :oninput => "CheckNames($F(this),'htseminar_lastname','Der Name darf nur Groß- und Kleinbuchstaben, \\' ,\\n Binde- und Trennstriche (-) und Leerzeichen enthalten.')" %></td>
   </tr>
   <tr>
     <td align ="left"><%=f.label :telbus, "Tel. dienstlich: " %></td>
     <td align ="left"><%=f.label :telbusTime, "Uhrzeit: " %></td>
   </tr>   
   <tr>
     <td><%= f.text_field :telbus,:size => 30,:maxlength => 255  %></td>
     <td><%= f.text_field :telbusTime,:size => 30,:maxlength => 255  %></td>
   </tr>
   
   <tr>
     <td align ="left"><%=f.label :telpriv, "Tel. privat: " %></td>
     <td align ="left"><%=f.label :telprivTime, "Uhrzeit: " %></td>
   </tr>   
   <tr>
     <td><%= f.text_field :telpriv,:size => 30,:maxlength => 255  %></td>
     <td><%= f.text_field :telprivTime,:size => 30,:maxlength => 255  %></td>
   </tr>
   
   <tr>
     <td align ="left"><%=f.label :email, "* E-mail: " %></td>
     <td align ="left"><%=f.label :fax, "Fax: " %></td>
   </tr>   
   <tr>
     <td><%= f.text_field :email,:size => 30,:maxlength => 255  %></td>
     <td><%= f.text_field :fax,:size => 30,:maxlength => 255  %></td>
   </tr>
</table><br/>

<h2>Schule/Institution</h2>

  <table>
   <tr>
     <td align ="left"><%=f.label :schoolname, "* Name: " %></td>
     <td align ="left"><%=f.label :schooltype, "Schultyp: " %></td>
   </tr>   
   <tr>
     <td><%= f.text_field :schoolname,:size => 30,:maxlength => 255  %></td>
     <td><%= f.text_field :schooltype,:size => 30,:maxlength => 255  %></td>
   </tr>
   
   <tr>
     <td align ="left"><%=f.label :street, "* Strasse/Hausnummer: " %></td>
     <td align ="left"><%=f.label :city, "* Ort: " %></td>
   </tr>   
   <tr>
     <td><%= f.text_field :street,:size => 30,:maxlength => 255  %></td>
     <td><%= f.text_field :city,:size => 30,:maxlength => 255  %></td>
   </tr>
      <tr>
     <td align ="left"><%=f.label :zip, "* PLZ: " %></td>
     <td align ="left"><%=f.label :country, "* Land: " %></td>
   </tr>   
   <tr>
     <td><%= f.text_field :zip,:size => 30,:maxlength => 15 %></td>
     <td><%= f.text_field :country,:size => 30,:maxlength => 255,
        :oninput => "CheckNames($F(this),'htseminar_country','Das Feld \"Land\" darf nur Groß- und Kleinbuchstaben, \\' ,\\n Binde- und Trennstriche (-) und Leerzeichen enthalten.')" %></td>
   </tr>
</table><br/>

 <h2>Termin und Sprache</h2>
   <table>
    <tr><td colspan="5">1. Termin&nbsp(muss eingegeben werden)</td></tr>
    <tr>
    <td><%=f.label :date1,"* am:"%> </td> 
    <td>
        <%= calendar_date_select_tag "date1",@htseminar[:date1], :year_range => 0.years.ago..5.years.from_now,
          :popup => "force",  :onchange => "set_date($F(this),'htseminar_date1');"%>
        <%= f.hidden_field :date1%>&nbsp;&nbsp;&nbsp;
    </td>
    <td><%=f.label :from1,"&nbsp;* von:"%></td>
    <td><%= f.select :from1, Htseminar::FROMEXTERN.collect,
                        {:selected =>change_time(@htseminar[:from1]),:include_blank=>true},
                        {:onchange =>"set_hts_timeto('htseminar_from1','htseminar_to1')" } %>&nbsp;&nbsp;</td>
    <td><%=f.label :to1,"&nbsp;&nbsp;&nbsp;bis:"%></td> 
    <td> <%= f.text_field :to1,:size =>4,:readonly => "true" %>&nbsp;&nbsp;</td>   
    <td>oder</td>
    </tr>
    </table><br/>
    <table>
    <tr><td colspan="5">2. Termin&nbsp(kann als Alternative vorgeschlagen werden)</td></tr>
    <tr> 
        <td><%=f.label :date2,"&nbsp;&nbsp;&nbsp;am:"%> </td> 
        <td>
            <%= calendar_date_select_tag "date2",@htseminar[:date2], :year_range => 0.years.ago..5.years.from_now,
              :popup => "force",  :onchange => "set_date($F(this),'htseminar_date2');"%>
            <%= f.hidden_field :date2%>&nbsp;&nbsp;
        </td>
        <td><%=f.label :from2,"&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;von:"%></td>
        <td><%= f.select :from2, Htseminar::FROMEXTERN.collect,
                            {:selected =>change_time(@htseminar[:from2]),:include_blank=>true},
                            {:onchange =>"set_hts_timeto('htseminar_from2','htseminar_to2')" } %>&nbsp;&nbsp;</td>
        <td><%=f.label :to2,"&nbsp;&nbsp;&nbsp;bis:"%></td> <td> <%= f.text_field :to2, :size =>4,:readonly => "true"%>&nbsp;&nbsp;</td>   
        <td>oder</td>
    </tr>   
  </table><br/>
  <table>
    <tr><td colspan="5">3. Termin&nbsp(kann als Alternative vorgeschlagen werden)</td></tr>
    <tr> 
        <td><%=f.label :date3,"&nbsp;&nbsp;&nbsp;am:"%> </td> 
        <td>
            <%= calendar_date_select_tag "date3",@htseminar[:date3], :year_range => 0.years.ago..5.years.from_now,
              :popup => "force",  :onchange => "set_date($F(this),'htseminar_date3');"%>
            <%= f.hidden_field :date3%>&nbsp;&nbsp;
        </td>
        <td><%=f.label :from3,"&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;von:"%></td>
        <td><%= f.select :from3, Htseminar::FROMEXTERN.collect,
                             {:selected =>change_time(@htseminar[:from3]),:include_blank=>true},
                            {:onchange =>"set_hts_timeto('htseminar_from3','htseminar_to3')" } %>&nbsp;&nbsp;</td>
        <td><%=f.label :to3,"&nbsp;&nbsp;&nbsp;bis:"%></td> <td> <%= f.text_field :to3, :size =>4,:readonly => "true"%>&nbsp;&nbsp;</td>   
    </tr>     
  </table><br/>    
  
  <table>
    <tr>
      <td align ="left"><%=f.label :language, "Halbtagesseminare werden zur Zeit nur auf Deutsch gehalten." %></td>
      <td> <%= f.hidden_field :language,:value => "Deutsch"%> </td>           
   </tr>
  </table><br/>

     <h2>Angaben zur Gruppe/Klasse</h2>

  <table>
    <tr>
      <td><%=f.label :cellphone, "* Handynummer der Begleitperson: " %></td>
      <td><%= f.text_field :cellphone %></td>
    </tr>
   <tr>
     <td><%=f.label :participnumber, "* Anzahl TeilnehmerInnen:" %></td>
     <td><%=f.label :male, "davon männlich:" %></td>
     <td><%=f.label :female, "davon weiblich:" %></td>
   </tr>   
   <tr>
     <td><%= f.text_field :participnumber,:size => 30,:maxlength => 3,
        :oninput => "CheckZiffer($F(this),'htseminar_participnumber','Dieses Feld darf nur Zahlen enthalten.')"  %>&nbsp;&nbsp;&nbsp;</td>
     <td><%= f.text_field :male,:size => 30,:maxlength => 3,
        :oninput => "CheckZiffer($F(this),'htseminar_male','Dieses Feld darf nur Zahlen enthalten.')"  %>&nbsp;&nbsp;&nbsp;</td>
     <td><%= f.text_field :female,:size => 30,:maxlength => 3,
        :oninput => "CheckZiffer($F(this),'htseminar_female','Dieses Feld darf nur Zahlen enthalten.')" %></td>
   </tr>
 
   <tr>
     <td><%=f.label :age, "Alter (min. 14 Jahre): " %></td>
     <td><%=f.label :schoolgrade, "Schulstufe: " %></td>
     <td><%=f.label :teamleader, "Anzahl Betreuer: " %></td>
   </tr>   
   <tr>
     <td><%= f.text_field :age,:size => 30, :maxlength => 255  %></td>
     <td><%= f.text_field :schoolgrade,:size => 30, :maxlength => 255  %></td>
     <td><%= f.text_field :teamleader,:size => 30,:maxlength => 3,
        :oninput => "CheckZiffer($F(this),'htseminar_teamleader','Dieses Feld darf nur Zahlen enthalten.')" %></td>
   </tr>
  </table><br/>  
  
<table>
    <td><%=f.label :havebeen, "Kennen die TeilnehmerInnen die KZ-Gedenkstätte Dachau bereits?&nbsp;" %></td>
    <td><%= f.select(:havebeen,["ja", "nein", "zum Teil"].collect,:prompt => "Bitte wählen") %></td>
</table><br/> 
<table>   
    <tr><td><%=f.label :reason, "Was ist der Anlass für den Besuch der Gedenkstätte? " %></td></tr>
    <tr><td><%= f.text_area :reason, :size => '94', :maxlength => 255 %></td></tr>
</table><br/>
 <table>
   <tr><td><%=f.label :topic, "Welche Themen sollen schwerpunktm&auml;ßig behandelt werden? " %></td></tr>
   <tr><td><%= f.text_area :topic, :size => '94', :maxlength => 255 %></td></tr>
 </table>

<table> 
    <tr><td><%=f.label :municstay, "Steht der Besuch der Gedenkstätte im Rahmen eines längeren Aufenthaltes in München? " %></td></tr>
    <tr><td><%= f.text_area :municstay, :size=> '94', :maxlength => 255 %></td></tr>
</table><br/>

<table> 
    <tr><td><%=f.label :remarc, "Anmerkungen/eigene W&uuml;nsche " %></td></tr>
    <tr><td><%= f.text_area :remarc, :size=> '94', :maxlength => 255 %></td></tr>
</table><br/>

<br/><br/><br/><br/>
<div class="saveField">
<table id='unten'>
<tr>
  <td width="100%">
    <%= image_submit_tag("save.png",{:title=>"Speichern",:alt =>"Speichern"}) %>
  </td>
  <td align="center"> 
    <%=  link_to '<img src="/images/back.png" border="1px" alt="Zurück" title="Zurück"/>',:back %>
  </td>
</tr>
</table></div> 
 
<% end %>

<% else %>
  <%= render :partial => "dbusers/login_requirement"  %>
<% end %>
